.header {
    overflow: hidden;
    padding: 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: 100;
}

.header-right {
    float: right;
}


#page-container {
    position: relative;
    min-height: 98vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Footer height */
    /* overflow: hidden; */
    /* padding: 10px; */
    padding-bottom: 0;

}

#footer a {
    float: left;
    color: black;
    text-align: center;
    padding: 25px;
    padding-bottom: 0px;
    padding-top: 0;
    text-decoration: none;
    font-weight: 200;
    font-size: 50px;
    line-height: 61px;
}


.highlight {
    position: relative;
}

.highlight::before {
    content: "";
    width: calc(90%);
    position: absolute;
    bottom: 0;
    right: -0.3em;
    height: .52em;
    background-color: #A1DE93;
    z-index: -1;
}


body {

    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    background: #F0F0F0;
}

a {
    color: inherit;
    text-decoration: none;
    z-index: 3;
}

#USP {
    align-content: center;
    font-size: 50px;
    line-height: 61px;
    vertical-align: middle;
    padding: 25px
}

h2 {
    font-weight: 100;
    font-size: 36;

}

#recent {
    font-size: 36px;
    padding: 35px;
}

html {
    border-top: 3px solid #F47C7C;
}



/* CARD */




.card {
    /* z-index: -2; */
    display: block;
    width: 300px;
    height: 300px;
    transition-duration: 1s;
    background: #FFF;
    border-radius: 20px;
    padding: 20px;
    margin: 3vh;
    float: left;
}

.card:hover {
    box-shadow: 10px 10px 10px #797979;

}


.card .highlight::before {
    background-color: #70a1d7;
}

.card a {
    font-weight: 400;
}

.recents {
    float: left;
}

@media screen and (max-width: 650px) {
    .header {
        align-content: center;
    }

    .header a.logo {
        text-align: center;
        display: block;
    }

    .header a {
        float: none;
        /* display: inline-block; */
        /* align-self:  center; */
        font-size: 70%;
    }

    #USP {
        padding: 10px;
    }

    .header-right {
        float: none;
        text-align: center;
    }

    #footer a {
        font-size: 100%
    }
}